<div class="container">
  <h2>Ajouter un nouveau post</h2>

  <form>
    <div class="mb-3">
      <label for="id" class="form-label">User Identifiant</label>
      <input type="number" [(ngModel)]="newPost.userId" placeholder="1" class="form-control" id="id" name="id">
    </div>
    <div class="mb-3">
      <label for="titre" class="form-label">titre</label>
      <input type="text" [(ngModel)]="newPost.title"  class="form-control" placeholder="nouveau titre" id="titre" name="titre">
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <textarea class="form-control" [(ngModel)]="newPost.body" placeholder="écrivez une description" name="description" id="description"></textarea>
    </div>

    <button type="submit" (click)="addPost()" class="btn btn-success">Créer</button>

  </form>

</div>
